#detail{
    .beta{
        .wrap-content{
            @include breakpoints(medium-plus-screen){
                position: relative;
                z-index: 500;
                margin-top: -15rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .title-section{
                    padding: 0 3rem;
                    width: 100%;

                    > span{
                        background: white;
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        padding-top: 2.5rem;
                        max-width: 68rem;
                    }
                }
            }
        }
    }
    article{
        padding: 0 3rem;

        header{
            height: calc(100vh - 4rem);
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include breakpoints(medium-plus-screen){
                max-width: 68rem;
                margin: 0 auto;
                background: white;
                height: auto;
                display: block;
            }
            .wrap{
                hgroup{
                    h1{
                        font-family: $font-family-title;
                        font-weight: 700;
                        font-size: 5.6rem;
                        line-height: 5.6rem;
                        padding-top: 2.5rem;
                        margin-bottom: 3rem;
                    }
                    p{
                        font-family: $font-family-base;
                        padding: 0 10%;
                        font-size: 2.4rem;
                        line-height: 3.2rem;

                    }
                }
                figure{
                    margin-top: 3.5rem;
                    img{
                        width: 8rem;
                        border-radius: 100%;
                    }
                    figcaption{
                        margin-top: 3rem;
                        font-family: $font-family-title;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 1.4rem;
                    }
                }
                .posted{
                    font-style: italic;
                }
            }
        }
        .content{
            font-size: 1.8rem;
            line-height: 1.8;

            p{
                padding: 0 5%;

                &:first-of-type{
                    &::first-letter{
                        float: left;
                        font-size: 5.4rem;
                        margin-top: 2.5rem;
                        margin-bottom: 1rem;
                        margin-right: 1rem;
                        line-height: 0;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
