{% extends 'default.html' %}
{% load static core_tags %}

{% block id_page %}home{% endblock %}


{% block content_beta %}
    <ul class="cards-list">
        {% for object in object_list %}
        <li class="card-item">
            <article>
                <a href="{% url 'magazine:detail' id=object.id slug=object.slug %}">
                    <figure>
                        <img src="https://picsum.photos/id/28/700/700" alt="">
                    </figure>
                    <p class="category">{{ object.category.name }}</p>
                    <hgroup>
                        <h2>{{ object.title }}</h2>
                        <p>{{ object.sub_title }}</p>
                    </hgroup>
                    {% comment %}
                    <div class="intro">La taxe sur les infrastructures a été adoptée dans le cadre de la loi de finances, aussitôt contestée à la fois par les sociétés concessionnaires d'autoroutes (SCA) et l'union des aéroports français, qui ont saisi le Conseil d'État. Quant à l'avenir des concessions, il n'est pas encore officiellement en débat : alors que Clément Beaune avait annoncé des assises puis une commission d'experts, son successeur Patrice Vergriete n'a pas encore tranché, début mai, sur la forme que prendra le débat.</div>
                    {% endcomment %}
                </a>
            </article>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
