{% extends 'default.html' %}
{% load static core_tags %}

{% block id_page %}detail{% endblock %}
{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}


{% block content_beta %}
    <article>
        <header>
            <div class="wrap">
                <hgroup>
                    <h1>{{ object.title }}</h1>
                    <p>{{ object.sub_title }}</p>
                </hgroup>
                <figure class="author">
                    <img src="{% static 'img/author.png' %}" alt="">
                    <figcaption>{{ object.author.first_name }}&nbsp;{{ object.author.last_name }}</figcaption>
                </figure>
                <p class="posted">{{ object.updated }}</p>
            </div>
        </header>
        <div class="content">
            {{ object.content|markdown }}
        </div>
        <footer>
            
        </footer>
    </article>
{% endblock %}
