{% extends 'default.html' %}
{% load static core_tags %}

{% block id_page %}detail{% endblock %}
{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}


{% block content_beta %}
    <article>
        <header>
            <hgroup>
                <h1>{{ object.title }}</h1>
                <p>{{ object.sub_title }}</p>
            </hgroup>
            <p class="author">{{ object.author }}</p>
            <p class="posted">{{ object.updated }}</p>
        </header>
        <div class="content">
            {{ object.content|markdown }}
        </div>
        <footer>
            
        </footer>
    </article>
{% endblock %}
