main{
    &.onNav{
        overflow-x: hidden;
        .overlay{
            pointer-events: auto;
            opacity: .45;
            left: 30rem;
        }

        nav{
            left: 0;
        }

        .section{
            transform: translateX(30rem);
        }
    }
}
