main{
    &[data-state = "onNav"]{
        overflow-x: hidden;
        .overlay{
            pointer-events: auto;
            opacity: .45;
            left: 30rem;
        }

        nav{
            left: 0;
        }

        .section{
            transform: translateX(30rem);
        }
    }
    &[data-state = "onSearch"]{
        .overlay{
            pointer-events: auto;
            opacity: .45;
            top: 30rem;
        }
    }
}
