{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ACME{% endblock title %}</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}" media="all">
        {% block css %}{% endblock %}
    </head>

    <body id="{% block id_page %}{% endblock %}">
        {% include "partials/header.html" %}
        {% block main %}{% endblock %}
        {% include "partials/footer.html" %}
        {% block js %}{% endblock %}
    </body>
</html>
