{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Contexte{% endblock title %}</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}" media="all">
        {% block css %}{% endblock %}
    </head>

    <body id="{% block id_page %}home{% endblock %}">
        <main>
            {% include 'partials/search.html' %}
            {% block main %}{% endblock %}
            {% include 'partials/navigation.html' %}
            {% include 'partials/user.html' %}
        </main>
        <script src="{% static "js/app.js" %}"></script>
        {% block js %}{% endblock %}
        <script src="http://localhost:9000/livereload.js"></script>
    </body>
</html>
