{% extends 'base.html' %}
{% load static %}


{% block title %}Context{% endblock title %}
{% block main %}
    <section class="section">
        {% include 'partials/alpha.html' with data=object share=share %}
        <div class="beta">
            <div class="wrap-content">
                {% block title_section %}
                    <p class="title-section">
                        <span>{{ title_section }}</span>
                    </p>
                {% endblock %}
                <div class="content">
                    {% block content_beta %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
