{% load static %}
<div class="alpha" style="--url: url({% static data.illustration %})">
    <header>
        <button type="button" id="burgerOpen">nav</button>
        {% include 'partials/logo.html' with data=data %}
        <button type="button" id="btnSearch">rechercher</button>
    </header>
    {% if share == False %}
        <a href="{% url 'magazine:detail' id=data.id slug=data.slug %}">
            <h2>{{ data.title }}</h2>
        </a>
    {% else %}
        <ul style="display:none">
            <li><a href="">facebook</a></li>
            <li><a href="">tweeter</a></li>
            <li><a href="">linkedin</a></li>
        </ul>
    {% endif %}
</div>
