{% load static %}
<div class="alpha" style="--url: url({% static data.illustration %})">
    <header>
        <button type="button" aria-label="Navigation" id="burgerOpen" class="with-icon">
            <i class="zmdi zmdi-menu"></i>
        </button>
        {% include 'partials/logo.html' with data=object %}
        <button type="button" id="btnSearch" aria-label="Chercher" class="with-icon">
            <i class="zmdi zmdi-search"></i>
        </button>
    </header>
    {% if share == False %}
        <a href="{% url 'magazine:detail' id=data.id slug=data.slug %}">
            <h2>{{ data.title }}</h2>
        </a>
    {% else %}
        <ul style="display:none">
            <li><a href="">facebook</a></li>
            <li><a href="">tweeter</a></li>
            <li><a href="">linkedin</a></li>
        </ul>
    {% endif %}
</div>
