<nav>
    <div>
        <button id="burgerClose">fermer</button>
        <ul>
            <li><a href="" class="highlight">Brefing du jour</a></li>
            <li>
                <h2>Outils & ressources</h2>
                <ul>
                    <li><a href="">Ressources</a></li>
                    <li><a href="">Veille législative (Scan)</a></li>
                    <li><a href="">Législatives 2024</a></li>
                </ul>
            </li>
            <li>
                <h2>Éditions</h2>
                <ul>
                    <li class="accordion">
                        <span>
                            <a href="">Pouvoirs</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">Énergie</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">Transports</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">Agro</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">Environnement</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">E-santé</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">Santé</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">Tech</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <span>
                            <a href="">Média</a>
                            <button>show</button>
                        </span>
                        <ul>
                            <li><a href="">Élections européennes 2024</a></li>
                            <li><a href="">Législatives 2024</a></li>
                            <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                            <li><a href="">Toute notre couverture Pouvoirs</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="">Aide</a></li>
            <li><a href="">Nouveautés produits</a></li>
            <li><a href="">Qui sommes-nous ?</a></li>
            <li><a href="">Notre actualité</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Mentions légales</a></li>
            <li><a href="">CGV</a></li>
            <li><a href="">Gestion des cookies</a></li>
        </ul>
    </div>
</nav>
