<nav>
    <button id="burgerClose">fermer</button>
    <ul>
        <li><a href="">Brefing du jour</a></li>
        <li>
            <h2>Outils & ressources</h2>
            <ul>
                <li><a href="">Ressources</a></li>
                <li><a href="">Veille législative (Scan)</a></li>
                <li><a href="">Législatives 2024</a></li>
            </ul>
        </li>
        <li>
            <h2>Éditions</h2>
            <ul>
                <li>
                    <a href="">Pouvoirs</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Énergie</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Transports</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Agro</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Environnement</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">E-santé</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Santé</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Tech</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Média</a>
                    <ul>
                        <li><a href="">Élections européennes 2024</a></li>
                        <li><a href="">Législatives 2024</a></li>
                        <li><a href="">Vie du Parlement européen (10e législature)</a></li>
                        <li><a href="">Toute notre couverture Pouvoirs</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Aide</a></li>
        <li><a href="">Nouveautés produits</a></li>
        <li><a href="">Qui sommes-nous ?</a></li>
        <li><a href="">Notre actualité</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Mentions légales</a></li>
        <li><a href="">CGV</a></li>
        <li><a href="">Gestion des cookies</a></li>
    </ul>
</nav>
