<nav>
    <div>
        <button type="button" id="burgerClose" aria-label="Fermer" class="with-icon navigationClose">
            <i class="zmdi zmdi-close"></i>
        </button>
        <ul>
            <li>
                <a href="" class="highlight">
                    <span>Brefing du jour</span>
                    <i class="zmdi zmdi-chevron-right"></i>
                </a>
            </li>
            <li>
                <h2>Outils & ressources</h2>
                <ul>
                    <li><a href="">Ressources</a></li>
                    <li><a href="">Veille législative (Scan)</a></li>
                    <li><a href="">Législatives 2024</a></li>
                </ul>
            </li>
            <li>
                <h2>Éditions</h2>
                <ul class="accordion">
                    {% for category in categories_navigation %}
                    <li class="accordionItem">
                        <span>
                            <a href="{% url 'magazine:categories' slug=category.slug %}">{{ category.name }}</a>
                            <button type="button" class="with-icon">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </button>
                        </span>
                        <ul>
                            {% for post in category.posts %}
                            <li><a href="{% url 'magazine:detail' id=post.id slug=post.slug %}">{{ post.title }}</a></li>
                            {% endfor %}
                            <li><a href="{% url 'magazine:categories' slug=category.slug %}">Toute notre couverture {{ category.name }}</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="">Aide</a></li>
            <li><a href="">Nouveautés produits</a></li>
            <li><a href="">Qui sommes-nous ?</a></li>
            <li><a href="">Notre actualité</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Mentions légales</a></li>
            <li><a href="">CGV</a></li>
            <li><a href="">Gestion des cookies</a></li>
        </ul>
        {% include 'partials/share.html' %}
    </div>
</nav>
