#form-search{
    margin: 0;
    position: fixed;
    top: -9.2rem;
    right: 0;
    left: 0;
    z-index: 5000;
    transition: top $speed $easin;
    overflow: auto;

    .content{
        position: relative;
        padding: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #btnCloseSearch{
            position:absolute;
            top: .5rem;
            right: .5rem;
        }

        div{
            &:first-of-type{
                width: calc(90% - 1.5rem);
                input{
                    width: 100%;
                }
            }

            &:last-of-type{
                width: 10%;
            }
        }
    }
}
