#user{
    position: fixed;
    background-color: white;
    right: 0;
    left: 0rem;
    top: -9.2rem;
    z-index: 5000;
    transition: top $speed $easin;
    height: 9.2rem;
    overflow: auto;
}
