nav{
    > div{
        position: relative;
        padding: 0;

        #burgerClose{
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        h2{
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 700;
            color: orangered;
            margin: 0 0 1rem;

            ~ ul{
                margin-left: 1rem;

                li{
                    &.accordion{
                        position: relative;
                        left: -1rem;
                        span{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            a{
                                text-transform: uppercase;
                                font-family: "Roboto Condensed", sans-serif;
                                font-weight: 700;
                                text-decoration: none;
                            }

                            .with-icon{
                                &:hover{
                                    i{
                                        color: orangered;
                                        transform: rotate(90deg);
                                    }
                                }
                                i{
                                    transition: transform $speed $easin, color $speed;
                                }
                            }
                        }
                        ul{
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height $speed $easin;
                            margin: 0 0 0 1rem;

                            li{
                                &:first-child{
                                    margin-top: 1.5rem;
                                }
                                &:last-child{
                                    margin-bottom: 1.5rem;
                                }
                            }
                        }
                        &.show{
                            .with-icon{
                                i{
                                    color: orangered;
                                    transform: rotate(90deg);
                                }
                            }
                            ul{
                                max-height: 20rem;
                            }
                        }
                    }
                }
            }
        }

        a{
            color: #444;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            display: block;

            &:hover{
                text-decoration: underline;
                color: #444;
            }
        }

        .highlight{
            padding: 1rem;
            text-transform: uppercase;
            border: .1rem solid #444;
            border-radius: $border-radius;
            display: block;
            margin: 1.5rem 0 3.5rem;
            transition: color $speed $easin, background-color $speed $easin;
            font-weight: 700;

            &:hover{
                color: #fff;
                background-color: #444;
                text-decoration: none;
            }
        }

        > ul{
            margin: 0;
            list-style: none;
            padding: 6.5rem 4rem;
        }
    }
}
